h1{
    color: indigo;
    text-align: center;
    font-family: arial;
    font-size: 35px;
}
h2{
    text-align: center;
    font-size: 18px;
}
img{
    display: block;
    width: 25%;
    margin: auto;
}